.list-wrapper {
	background: linear-gradient(
		106.37deg,
		#ffe1bc 29.63%,
		#ffcfd1 51.55%,
		#f3c6f1 90.85%
	);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.AppGlass {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2em;
	width: 90%;
	height: 90%;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.307);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list-title {
	text-align: center;
	padding: 0.5em;
	margin-top: 0.5em;
}
.list-search {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 30%;
}

.list-search > input {
	width: 100%;
	outline: none;
	padding: 0.7rem;
	border: none;
	background-color: rgba(255, 253, 253, 0.5);
	color: black;
	border-radius: 0.7em;
}

.list-search > input:hover,
.list-search > input:focus {
	outline: none;
	box-shadow: 0 0 0 1px grey;
}

.list-create-chamber > button {
	outline: none;
	padding: 0.7rem;
	border: none;
	background-color: rgba(255, 253, 253, 0);
	color: rgba(255, 255, 255, 0.6);
	border-radius: 0.7em;
	transition: all 0.3s ease-in-out;
}

.list-create-chamber > button:hover {
	background-color: grey;
	color: #fff;
}

.list-motion-table {
	width: 80%;
}

table {
	margin-bottom: 100;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
table th,
table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
table tr:nth-child(even) {
	background-color: #f2f2f2;
}
table tr:hover {
	background-color: #ddd;
}
table tr {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: black;
}
.list-enter {
	padding: 4px 8px;
	font-size: 12px;
	outline: none;
	border: 1px solid grey;
}
.list-enter:hover,
.list-enter:focus {
	background-color: rgba(0, 0, 0, 0.181);
	color: white;
}
