.list-wrapper {
	/* background: linear-gradient(
		106.37deg,
		#100F11 29.63%,
		#363239 51.55%,
		#403c44 90.85%
	); */
	background-color: #202225;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 1em;
	justify-content: center;
	align-items: center;
}
.AppGlass {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5em;
	width: 90%;
	height: 80vh;
	border-radius: 0.7em;
	margin: 1em;
	background-color: #40434a;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow-y: scroll;
}
.list-title {
	text-align: center;
	padding: 0.5em;
	margin-top: 0.5em;
	color: white;
}
.list-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.list-search > input {
	width: 100%;
	outline: none;
	padding: 0.7rem;
	border: none;
	background-color: rgba(255, 253, 253, 0.5);
	color: white;
	border-radius: 0.7em;
}
.list-search > input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}
.list-search > input:hover,
.list-search > input:focus {
	outline: none;
	box-shadow: 0 0 0 1px grey;
}

.list-create-chamber > button {
	outline: none;
	padding: 0.7rem;
	border: none;
	background-color: rgba(255, 253, 253, 0);
	color: rgba(255, 255, 255, 0.6);
	border-radius: 0.7em;
	transition: all 0.3s ease-in-out;
}

.list-create-chamber > button:hover {
	background-color: grey;
	color: #fff;
}

.list-motion-table {
	width: 80%;
}

table {
	margin-bottom: 100;
	border-collapse: collapse;
    border-style: solid;
	width: 100%;
    border: none;
}
table th {
    margin-bottom: 0.5em;
}
table th,
table td {
    width: fit-content;
    padding: 0.4em;
    display: flex;
    align-items: center;
}

table tr:nth-child(odd) {
	background-color: #202225a9;
}
th:first-child,
td:first-child {
    text-align: left;
    padding-left: 1em;
    overflow-X: scroll;
    flex-grow: 1;
}
th:last-child,
td:last-child {
    padding-right: 1em;
}

table tr:hover {
	/* background-color: rgba(221, 221, 221, 0.3); */
	color: white;
}
table th:hover {
	background-color: none;
}
table tr {
	color: white;
	overflow: hidden;
    display: flex;
    gap: 1em;
	/* border-bottom: 1px solid white; */
}
.list-enter {
	padding: 4px 8px;
	font-size: 12px;
	outline: none;
	border: 1px solid grey;
}
.list-enter:hover,
.list-enter:focus {
	background-color: rgba(0, 0, 0, 0.181);
	color: white;
}
.screen-wrapper-button2 {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
}
.screen-wrapper-button2 > button {
	outline: none;
	padding: 0.5rem 1rem;
	border: none;
	background-color: rgba(255, 253, 253, 0);
	color: rgba(255, 255, 255, 0.6);
	border-radius: 0.2em;
	transition: all 0.1s ease-in-out;
}
.screen-wrapper-button2 > button:hover {
	background-color: grey;
	color: #fff;
}
